:root {
    --main-text-color: #f9f9f9;
    --default-button-color: #212121;
    --button-text-color: #f77d31;
    --active-button-color: #f77d31;
    --button-hover-color:;
    --button-click-color:;
}

html {
    overflow-y: scroll;
}

@font-face {
    font-family: "sourcesansprosemibold";
    src: local("sourcesansprosemibold"), url('./Fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'sourcesansprosemibold';
    background-color: var(--default-button-color);
    height: 100%;
    margin: 0;
}


h1, h2 {
    color: var(--main-text-color);
    text-align: center;
}

.Navbar, ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    align-self: center;
    justify-self: center;
    margin: 0 0 0 2.5%;
}

.Navbar, a:link {
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
}

.Navbar, a:hover {
    color: #ff9354;
    text-decoration: underline 2px;
}

.Navbar, a:active {
    color: #ffffff;
    text-decoration: none;
}

.Navbar, a:visited {
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
}

.index-grid-container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr;
    grid-template-areas: "buffer" "content";
    height: 95vh;
    align-content: center;
    justify-content: center;
}

.IndexTitle, h1 {
    margin: 0px;
    font-size: 7vw;
    padding: 0;
}

.IndexTitle, h2 {
    font-weight: lighter;
    justify-self: center;
    align-self: center;
    margin: 0;
    font-size: 40px;
}

.title-container {
    grid-area: content;
    align-self: center;
}

.project-grid {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr;
    grid-template-areas: "toggles" "content";
    justify-content: center;
    background-color: #212121;
}

.project-tag-container {
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: toggles;
    height: 100px;
}

.toggle-button {
    background-color: var(--button-default-color);
    border: 1px solid var(--button-text-color);
    color: var(--button-text-color);
    width: 10%;
    height: 50px;
    margin: 2.5% 2% 2.5% 2%;
    font-size: 18px;
    padding: 5px 0 5px 0;
    border-radius: 4px;
}

.toggle-on {
    background-color: var(--active-button-color);
    color: var(--main-text-color);
}

.project-container {
    display: flex;
    flex-direction: column;
    grid-area: content;
}

.project-boxes {
    height: 150px;
    width: 50%;
    align-self: center;
    margin: 2.5% 0 0 0;
    padding:0;
}

.project-buttons {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "image title title" "image text text";
    background-color: var(--default-button-color);
    border: .5px solid var(--active-button-color);
    color: white;
    border-radius: 20px;
    padding:0;
    align-content:center;
}

.project-image {
    grid-area: image;
    height: 146.5px;
    border-radius: 18px 0 0 18px;   
}

.project-title {
    grid-area: title;
    padding: 0 2% 0 2%;
    text-align: left;
    text-wrap:avoid;
}

.project-text {
    grid-area: text;
    padding: 0 2% 0 2%;
    text-align: left;
    text-wrap:avoid;
}

.resume-grid-container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr;
    grid-template-areas: "download" "content";
    height: 95vh;
}

.resume-container {
    grid-area: content;
    display: flex;
    align-content: center;
    justify-content: center;
}

.resume-download-container {
    grid-area: download;
    display: flex;
    height: 50px;
    margin: 2.5%;
    width: 300px;
    align-self: center;
    justify-self: center;
}

.resume-download-container, a:hover {
    text-decoration-line: none;
}

.resume-download {
    align-self: center;
    background-color: dimgrey;
    border-radius: 8px;
    border: 1px solid orange;
    font-size: 20px;
    height: 50px;
    margin: 2.5%;
    width: 300px;
    text-decoration-line: none;
}

.resume-download:hover {
    background-color: #ff9354;
    color: white;
    text-decoration-line: none;
}

.resume-download:active {
    background-color: #eb776e;
    text-decoration-line: none;
}

.resume-image {
    height: 1200px;
    place-self: center;
}
